<div class="card">
<p-card header="Add product" >

  <form [formGroup]="productForm">
    <div class="form">
    
    <input pInputText type="text" formControlName="name" placeholder="Name" >
     <input pInputText type="number" formControlName="quantity" placeholder="Quantity" >
      <input pInputText type="number" formControlName="price" placeholder="Price" >
    </div>
  
    </form>
    <div class="btn">
   <button pButton class="submit-btn" (click)="submit()" *ngIf="!showBtn">Submit</button>
    <button pButton class="submit-btn" (click)="update()" *ngIf="showBtn">update</button>
       <button pButton class="submit-btn" (click)="back()" *ngIf="showBtn">Back</button>
    </div>

  
</p-card>
</div>
